header {
    background: white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    width: 20%;
    margin-left: 20px;
    margin-top: 1%;
    height: 100%;
    align-content: center;
}

#api_status {
    margin-right: 25px;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC;
}

#api_status.available {
    background-color: #ff545f;
}
